---
import Article from '../layouts/Article.astro';
---
<Article title="About" description="About Tiago Loriato">
  <p>Hi friends! My name is Tiago Loriato, and welcome to my website!</p>

  <h2>Background</h2>
  <p>Tiago Loriato</p>

  <h2>Contact</h2>
  <p><strong>Tiago Loriato</strong></p>
</Article>
